body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
    font-family: Consolas, monospace;
}

#traffic_log {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    width: 100%;
    background-color: #808080;
    height: 100%;
    font-size: 0.8em;
}

#traffic_table {
    width: 100%;
    overflow: hidden;
}